<%= form_for(@prebuilt) do |f| %>
  <% if @prebuilt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prebuilt.errors.count, "error") %> prohibited this prebuilt from being saved:</h2>

      <ul>
      <% @prebuilt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :real_price %><br>
    <%= f.text_field :real_price %>
  </div>
  <div class="field">
    <%= f.label :processor_id %><br>
    <%= f.number_field :processor_id %>
  </div>
  <div class="field">
    <%= f.label :motherboard_id %><br>
    <%= f.number_field :motherboard_id %>
  </div>
  <div class="field">
    <%= f.label :drive_id %><br>
    <%= f.number_field :drive_id %>
  </div>
  <div class="field">
    <%= f.label :graphic_id %><br>
    <%= f.number_field :graphic_id %>
  </div>
  <div class="field">
    <%= f.label :memory_id %><br>
    <%= f.number_field :memory_id %>
  </div>
  <div class="field">
    <%= f.label :power_supply_id %><br>
    <%= f.number_field :power_supply_id %>
  </div>
  <div class="field">
    <%= f.label :computer_case_id %><br>
    <%= f.number_field :computer_case_id %>
  </div>

  <div class="field">
    <%= f.label :performance %><br>
    <%= f.text_field :performance %>
  </div>
  <div class="field">
    <%= f.label :type_build %><br>
    <%= f.number_field :type_build %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
