<p id="notice"><%= notice %></p>

<h1>Listing Prebuilts</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Partlist</th>
      <th>Performance</th>
      <th>Type build</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prebuilts.each do |prebuilt| %>
      <tr>
        <td><%= prebuilt.price %></td>
        <td><%= prebuilt.partlist %></td>
        <td><%= prebuilt.performance %></td>
        <td><%= prebuilt.type_build %></td>
        <td><%= link_to 'Show', prebuilt %></td>
        <td><%= link_to 'Edit', edit_prebuilt_path(prebuilt) %></td>
        <td><%= link_to 'Destroy', prebuilt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prebuilt', new_prebuilt_path %>
