<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @prebuilt.price %>
</p>

<p>
  <strong>Real price:</strong>
  <%= @prebuilt.real_price %>
</p>


<p>
  <strong>Processor:</strong>
  <%= @prebuilt.processor.name %>
</p>
<p>
  <strong>Motherboard:</strong>
  <%= @prebuilt.motherboard.name %>
</p>
<p>
  <strong>Graphic:</strong>
  <%= @prebuilt.graphic.name %>
</p>
<p>
  <strong>Memory:</strong>
  <%= @prebuilt.memory.name %>
</p>
<p>
  <strong>Drive:</strong>
  <%= @prebuilt.drive.name %>
</p>
<p>
  <strong>Power_supply:</strong>
  <%= @prebuilt.power_supply.name %>
</p>
<p>
  <strong>Computer_case:</strong>
  <%= @prebuilt.computer_case.name %>
</p>


<p>
  <strong>Performance:</strong>
  <%= @prebuilt.performance %>
</p>

<p>
  <strong>Type build:</strong>
  <%= @prebuilt.type_build %>
</p>

<%= link_to 'Edit', edit_prebuilt_path(@prebuilt) %> |
<%= link_to 'Back', prebuilts_path %>
