<p id="notice"><%= notice %></p>

<h1>Listing Drives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Dollar price</th>
      <th>Euro price</th>
      <th>Capacity</th>
      <th>Performance</th>
      <th>Disk type</th>
      <th>picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drives.each do |drive| %>
      <tr>
        <td><%= drive.name %></td>
        <td><%= drive.link %></td>
        <td><%= drive.dollar_price %></td>
        <td><%= drive.euro_price %></td>
        <td><%= drive.capacity %></td>
        <td><%= drive.performance %></td>
        <td><%= drive.disk_type %></td>
        <td><%= drive.picture %></td>
        <td><%= link_to 'Show', drive %></td>
        <td><%= link_to 'Edit', edit_drife_path(drive) %></td>
        <td><%= link_to 'Destroy', drive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drive', new_drife_path %>
<%= link_to 'Import from csv file', drives_new_by_spread_path %>
