<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drive.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @drive.link %>
</p>

<p>
  <strong>Dollar price:</strong>
  <%= @drive.dollar_price %>
</p>

<p>
  <strong>Euro price:</strong>
  <%= @drive.euro_price %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @drive.capacity %>
</p>

<p>
  <strong>Performance:</strong>
  <%= @drive.performance %>
</p>

<p>
  <strong>Disk type:</strong>
  <%= @drive.disk_type %>
</p>

<%= link_to 'Edit', edit_drife_path(@drive) %> |
<%= link_to 'Back', drives_path %>
