<h1>Admin#list</h1>
<%= link_to "CPUs", processors_path %>
<%= link_to "GPUs", graphics_path %>
<%= link_to "RAM", memories_path %>
<%= link_to "Motherboards", motherboards_path %>
<%= link_to "Drives", drives_path %>
<%= link_to "Power Supplies", power_supplies_path %>
<%= link_to "Cases", computer_cases_path %>
<%= link_to "Add Images", admin_add_path %>
