<h1>Let's build a PC</h1>
<% if flash[:error] %>
<div class="alert alert-danger">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Whoops! </strong><%= flash[:error] %>
</div>
<% end %>
<%= form_for :maker, :url => maker_make_path, method: :get do |f| %>
<div class = "col-md-5">
<%= f.label :budget, "Specify your budget" %>
<div class = "range-bar">
<%= f.range_field :budget, :min=>200, :max=>3000, :step=>5, :class=>"slide", :id=>"slider1", :oninput=>"outputField.value = slider1.value" %>
<output name="outputField" id="ageOutputId" class= "text-center">1600</output>
</div>
<div class = "group">
Choose your currency
<br>
<div class ="our-checkbox selected">
<%= f.label :currency_1, "US Dollar" %>
<%= f.radio_button :currency, 1, :checked=>true %>
</div>
<div class ="our-checkbox">
<%= f.label :currency_2, "Euro" %>
<%= f.radio_button :currency, 2 %>
</div>
<br>
</div>
What kind of build are you trying to make?<br>
<div class = "group">
<div class ="our-checkbox selected">
<%= f.radio_button :build_type, 1, :checked=>true %>
<%= f.label :build_type_1, "Gaming" %>
</div>
<div class ="our-checkbox">
<%= f.radio_button :build_type, 2 %>
<%= f.label :build_type_2, "Workstation" %><br>
</div>
</div>
<div class = "group">
Are you aiming for a specific size?<br>
<div class ="our-checkbox selected">
<%= f.radio_button :build_size, 3, :checked=>true %>
<%= f.label :build_size_3, "ATX (no preference)" %>
</div>
<div class ="our-checkbox">
<%= f.radio_button :build_size, 2 %>
<%= f.label :build_size_2, "MicroATX at most" %>
</div>
<br>
<div class ="our-checkbox">
<%= f.radio_button :build_size, 1 %>
<%= f.label :build_size_1, "MiniITX" %><br>
</div>
<br>
<%= f.submit "Build a PC", :class => "btn btn-lg" %>
<% end %>
</div>
</div>
