<p id="notice"><%= notice %></p>

<h1>Listing Power Supplies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Dollar price</th>
      <th>Euro price</th>
      <th>Power</th>
      <th>Performance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @power_supplies.each do |power_supply| %>
      <tr>
        <td><%= power_supply.name %></td>
        <td><%= power_supply.link %></td>
        <td><%= power_supply.dollar_price %></td>
        <td><%= power_supply.euro_price %></td>
        <td><%= power_supply.power %></td>
        <td><%= power_supply.performance %></td>
        <td><%= link_to 'Show', power_supply %></td>
        <td><%= link_to 'Edit', edit_power_supply_path(power_supply) %></td>
        <td><%= link_to 'Destroy', power_supply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Power supply', new_power_supply_path %>
