<%= form_for(@computer_case) do |f| %>
  <% if @computer_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer_case.errors.count, "error") %> prohibited this computer_case from being saved:</h2>

      <ul>
      <% @computer_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :dollar_price %><br>
    <%= f.text_field :dollar_price %>
  </div>
  <div class="field">
    <%= f.label :euro_price %><br>
    <%= f.text_field :euro_price %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :performance %><br>
    <%= f.number_field :performance %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
