<p id="notice"><%= notice %></p>

<h1>Listing Computer Cases</h1>

<table class = "table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Dollar price</th>
      <th>Euro price</th>
      <th>Size</th>
      <th>Performance</th>
      <th>picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computer_cases.each do |computer_case| %>
      <tr>
        <td><%= computer_case.name %></td>
        <td><%= computer_case.link %></td>
        <td><%= computer_case.dollar_price %></td>
        <td><%= computer_case.euro_price %></td>
        <td><%= computer_case.size %></td>
        <td><%= computer_case.performance %></td>
        <td><%= computer_case.picture %></td>
        <td><%= link_to 'Show', computer_case %></td>
        <td><%= link_to 'Edit', edit_computer_case_path(computer_case) %></td>
        <td><%= link_to 'Destroy', computer_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer case', new_computer_case_path %>
