<%= form_for(@graphic) do |f| %>
  <% if @graphic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graphic.errors.count, "error") %> prohibited this graphic from being saved:</h2>

      <ul>
      <% @graphic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :dollar_price %><br>
    <%= f.text_field :dollar_price %>
  </div>
  <div class="field">
    <%= f.label :euro_price %><br>
    <%= f.text_field :euro_price %>
  </div>
  <div class="field">
    <%= f.label :cpu_average %><br>
    <%= f.text_field :cpu_average %>
  </div>
  <div class="field">
    <%= f.label :performance %><br>
    <%= f.text_field :performance %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.number_field :power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
